
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Администрирование</h2>

<div class="row">
    @Html.ActionLink("Авторы", "Index", "Author");
</div>

<div>
    @Html.ActionLink("Книги", "Index", "Book");
</div>




