@{
    ViewData["Title"] = "Home Page";
}

@model List<BookMarketWeb.Domain.Entities.Book>

@{
    ViewData["Title"] = "Книжный магазин";
}

<div class="container mt-5">
    <h2>Ассортимент книг</h2>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="img/book.svg" class="card-img-top" alt="Books Image">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Price руб.</p>
                        <button class="btn btn-primary" onclick="AddToCart('@book.Id')">Добавить в корзину</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>

    function AddToCart(bookId) {
        $.ajax({
            type: "POST",
            url: `Cart/AddToCart?bookId=${bookId}`,
            success: function (response) {
                $('#cart-link').replaceWith(response);
            },
            error: function (err){
               alert(err);
            }
        });
    }
        
</script>
